---
import NavNextAndPrevious from "@components/navigation/NavNextAndPrevious.astro";
import PostCard from "@components/post/PostCard.astro";
import PostLink from "@components/post/components/PostLink.astro";
import Base from "@layouts/base.astro";

const apiBaseUrl = import.meta.env.API_BASE_URL;

const url = new URL(Astro.request.url);
const page = Number(url.searchParams.get("page") || "1");
const limit = Number(url.searchParams.get("limit") || "5");

const apiUrl = `${apiBaseUrl}/posts?page=${page}&limit=${limit}`;
const response = await fetch(apiUrl);
const result = await response.json();

const postsList = result.data || [];

const apiUrlFixedPosts = `${apiBaseUrl}/posts/fixed-posts`;
const responseFixedPosts = await fetch(apiUrlFixedPosts);
const findFixedPosts = await responseFixedPosts.json();

const postsFixedList = findFixedPosts.data || [];
---

<Base pageTitle="home">
  <div class="grid h-screen grid-cols-6 grid-rows-5 gap-0">
    <div class="col-span-4 row-span-5">
      <div class="flex flex-col gap-10 px-6">
        {
          postsList.map((post: any) => (
            <PostCard
              title={post.title}
              description={post.description}
              pubDate={new Date(post.publishedAt)}
              url={`/post/${post.id}`}
              tags={post.tags}
            />
          ))
        }

        <NavNextAndPrevious />
      </div>
    </div>
    <div class="col-span-2 row-span-5">
      <h1 class="font-bold">Posts fixados</h1>
      {
        postsFixedList.map((p: any) => (
          <PostLink title={p.title} url={`/post/${p.id}`} />
        ))
      }
    </div>
  </div>
</Base>
